# https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes
# https://git-scm.com/docs/gitattributes
# https://github.com/alexkaratarakis/gitattributes/blob/master/Web.gitattributes
* text=auto

# Enforce Unix newlines
*.js          text eol=lf
*.json        text eol=lf
*.markdown    text eol=lf
*.md          text eol=lf
